<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Fortune cookie html</title>
</head>

<center>
<body>
    <img src="static/mystery_box.jpeg" width="200" height="200">
    {% if quote %}
        <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif">{{quote}}</h2>
    {% endif %}

    <h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: lighter;">
        Repository: <a href="https://github.com/meiannn/containers_course">https://github.com/meiannn/containers_course</a>
    </h4>
</body>
</center>
</html>